<h1>test</h1>

{{#each detail}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{content}}</td>
        <td>{{author}}</td>
        <td>{{modifiedDate}}</td>
    </tr>
{{/each}}